{{!< default}}
<div class="gh-outer">
    <main class="site-main gh-inner">
        <!-- Hero Section -->
        <section id="hero" class="hero">
            <div class="hero-content">
                <h1 class="hero-title">Empower Your Marketing with AI</h1>
                <p class="hero-subtitle">Unlock creativity and efficiency with our AI-powered copywriting tools.</p>
                <a href="/signup/" class="hero-cta">Discover the future of content creation</a>
            </div>
            <canvas class="particles-js-canvas-el"></canvas>
        </section>
        <!-- Post Feed -->
        <div class="post-feed gh-feed">
            {{#foreach posts}}
                {{> "loop"}}
            {{/foreach}}
        </div>
    </main>
</div>
</body>
