{{!< default}}

<main class="site-main">
<section class="hero is-fullheight is-primary" id="hero">        
    <div class="hero-body">
            <div class="container">
                <h1 class="title">Revolutionize Content Creation with AI</h1>
                <h2 class="subtitle">Join thousands of professionals enhancing their content strategy using our AI tools.</h2>
                <form id="signup-form">
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" type="email" placeholder="Email">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button class="button is-success">
                                Start Free Trial
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
