.swiper-container {
    margin-top: 50px; /* Increased space from the previous section */
    padding: 20px 0; /* Padding to add space around the swiper */
    background: #f4f4f4; /* Optional: background color for swiper area */
}

.swiper-slide {
    width: 60%; /* Adjust based on design requirement */
    height: auto; /* Adjust height to be responsive */
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Updated shadow for 3D effect */
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transitions for hover effects */
}

.swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.swiper-slide:not(.swiper-slide-active) {
    transform: scale(0.9); /* Slight scale down when not active */
}

.swiper-slide:hover {
    transform: scale(1.05); /* Scale up slightly on hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover for more depth */
}

/* Styling for navigation buttons, ensuring they are visible and appropriately styled */
.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 123, 255, 0.8);
    color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    cursor: pointer;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.6);
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active {
    background-color: #ffffff;
}
.post-feed .featured .post-link:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .swiper-slide {
        width: 80%; /* Adjusted for better fit on smaller screens */
        margin: 10px 0; /* Provides space between vertically stacked slides on small screens */
    }

    .swiper-wrapper {
        flex-direction: column; /* Stack slides vertically on small screens */
        align-items: center; /* Center slides vertically */
    }
}